/* body{
    font-family: 'Damion', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
} */

body{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}


.sec{
    width: 100vw;
    padding: 0 20%;
    box-sizing: border-box;
}


.sub_title{
    letter-spacing: 1px;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
}

@media screen and (max-width:800px) {

    .sec{
        padding: 0 5%;
    }

/* body end */
}

