.sec3{
    width: 100vw;
    background-color: #3d86ad11;
    padding-top: 13%;
    padding-bottom: 13%;
}

.sec3_conwrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec3_imgbox{
    width: 40%;
    /* 500 / 1200 * 100 */
}

.sec3_textbox{
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paragraph{
    color: #8c8c8c;
    line-height: 19px;
}

.sec3_textbox .sub_title{
    margin-bottom: 20px;
}

.sec3_btn{
    width: 150px;
    height: 45px;
    border-radius: 50px;
    background-color: #3D85AD;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
}

.sec3_btn a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:768px) {

    .sec3{
        height: 100vh;
    }


    .sec3_conwrap{
        flex-direction: column;
    }

    .sec3_imgbox{
        margin-top: 50px;
        width: 350px;
    }

    .sec3_textbox{
        margin-top: 50px;
        height: 270px;
    }



/* media end */
}






