.sec5{
    padding-top: 90px;
    padding-bottom: 10px;
}

.sec5_conwrap{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec5_conbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec5_conboxTop{
    margin-bottom: 50px;
}

.sec5_con{
    height: 409px;
    overflow: hidden;
}

.sec5_conBig{
    width: 55%;
}

.sec5_conSmall{
    width: 40%;
}

.sec5_conimg{
    width: 100%;
    height: 330px;
    border-radius: 20px;
    overflow: hidden;
}

.sec5_conimg1{
    background: url(../../img/sec5con1.png) no-repeat center /cover;
}
.sec5_conimg2{
    background: url(../../img/sec5con2.png) no-repeat center /cover;
}
.sec5_conimg3{
    background: url(../../img/sec5con3.png) no-repeat center /cover;
}
.sec5_conimg4{
    background: url(../../img/sec5con4.png) no-repeat center /cover;
}


.sec5_context{
    font-weight: 600;
    margin-top: 10px;
    line-height: 23px;
    letter-spacing: -1px;
}

.sec5_context span{
    font-weight: 300;
    font-size: 0.9em;
    color: #8f8f8f;
}


@media screen and (max-width:768px) {

    .sec5_conbox{
        flex-direction: column;
    }

    .sec5_con{
        width: 100%;
        height: 350px;
    }

    .sec5_conimg{
        height: 280px;
    }

    .sec5_conimg img{
        height: 280px;
        transform: translateY(-20px);
    }


/* media end */
}