.sec6{
    padding-top: 13%;
    padding-bottom: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec6 .sub_title{
    margin-bottom: 30px;
}

.sec6_conwrap{
    width: 1000px;
}

.sec6_con{
    height: 370px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    overflow: hidden;
}

.sec6_imgbox{
    width: 100%;
    height: 300px;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec6_imgbox1{
    width: 170px;
}

.sec6_textbox{
    margin: 30px 0 0 30px;
    font-weight: 600;
}


@media screen and (max-width:768px) {
    
    .sec6_conwrap{
        width: 100%;
    }
    
    .sec6_con{
        height: 100%;
    }

    .sec6_textbox{
        margin: 15px;
    }


/* media end */
}